HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/
node_modules/
package.json
pnpm-lock.yaml

### STS ###
.apt_generated
.factorypath
.settings
.project
.springBeans
.sts4-cache
.mvn

### VS Code ###
.vscode/
/.metadata/
