<Executor name="kxreportThreadPool" 
          namePrefix="kx-exec-"
          maxThreads="50" 
          minSpareThreads="5"
          maxQueueSize="100"/>

<Connector port="8443" 
           protocol="org.apache.coyote.http11.Http11NioProtocol"
           SSLEnabled="true" 
           scheme="https" 
           secure="true"
           executer="kxreportThreadPool">
           <SSLHostConfig>
           <Certificate certificateFile="/etc/tomcat10/cert.pem"
                        certificateKeyFile="/etc/tomcat10/key.pem"
                        type="RSA" />
           </SSLHostConfig>
</Connector>