<?xml version="1.0" encoding="UTF-8"?>
<Server port="-1" shutdown="SHUTDOWN">
    <Service name="Catalina">
        <Executor name="threadPool" 
            namePrefix="kx-exec-"
            maxThreads="100" 
            minSpareThreads="10"
            maxQueueSize="500" />

        <Connector port="8080" executor="threadPool">
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol" />
        </Connector>
        
        <Connector port="8443" 
            protocol="org.apache.coyote.http11.Http11NioProtocol"
            SSLEnabled="true" 
            scheme="https" 
            secure="true"
            executor="threadPool">
            <SSLHostConfig>
                <Certificate type="RSA"
                    certificateFile="/etc/cert/cert.pem"
                    certificateKeyFile="/etc/cert/key.pem" />
            </SSLHostConfig>
        </Connector>
        
        <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost" appBase="webapps" 
                unpackWARs="true" autoDeploy="true">
                <Valve className="org.apache.catalina.valves.RemoteIpValve"
                    remoteIpHeader="x-forwarded-for"
                    protocolHeader="x-forwarded-proto"
                    internalProxies="127\.0\.0\.1" />
                <Valve className="org.apache.catalina.valves.AccessLogValve" 
                    directory="logs"
                    prefix="localhost_access_log" suffix=".txt"
                    pattern="%h %l %u %t &quot;%r&quot; %s %b"
                requestAttributesEnabled="true" />
            </Host>
        </Engine>
  </Service>
</Server>
